@charset "utf-8";
@import url('http://fonts.googleapis.com/css?family=Roboto:400,300,700');

/* ========== ALLGEMEIN ========== Source+Sans+Pro */
h1 {font-size:41px; font-weight:300; display:block; color:#FFF; line-height:1.2; padding-bottom:5px; border-bottom:solid 2px #ab273c; text-transform:uppercase;}
h2 {font-size:25px; font-weight:400; display:block; color:#FFF; line-height:1.2; padding-bottom:5px; border-bottom:solid 2px #c1002d; margin-right:-30px;}
p {font-size:17px; font-weight:300; color:#FFF; margin-bottom:15px;}
strong {font-weight:700;}
a {text-decoration:none; }
a:active, a:focus {outline: none;}
html,body {font-family: 'Roboto', sans-serif; width:100%; height: 100% !important;}
.clear {clear:both;}

.container_slides {position: relative;}
.dotted-line {width:20px; margin:0 auto; border-left: dotted 10px #000; height:100%; z-index:500; position:absolute; top:0; bottom:0px; left:50%; margin-left:-5px;}


/* ========== MAIN PICTURE ========== */
.picture_overlay {z-index:700; width:100%; height:100%; position:fixed; top:0; bottom:0; left:0; right:0; background:rgba(0,0,0,0.3);}
.mainpicture {
	width: 100%;
	position:fixed;
	top: 0px;
	bottom:0px;
	left:0px;
	right:0px;
	background-size:cover;
	z-index:500;
	opacity:0;
	-ms-filter: "alpha(opacity = 0)";
	min-height:100%;
}
.main_picture1 {
	opacity:1;
	-ms-filter: "alpha(opacity = 100)";
}
.main_picture1 img {}
.bgvid {width:100%; display:block; min-width: 100%; min-height: 100%; width: auto; height: auto; background-size:cover; display:block;}

.mainpicture img {
	position: relative;
	margin-left: 0px;
	width:100%;
}


/* ========== SLIDE ========== */
.slider_container {
	width:100%;
	height:inherit;
	position: relative;
	z-index:1000;
	margin:0 auto;
}
.slide{
	width:100%;
	height:100vh;
	position: relative;
	z-index:1000;
}
.slide_inner {
	width:90%;
	max-width:1920px;
	position:relative;
	margin:0 auto;
	padding: 80px 30px;
}

.slide_title {}


#slide1 {min-height: 100%; height:auto; padding-top:30px; background:rgba(0,0,0,0.7); border-bottom:solid 1px #FFF; }
#slide2 {min-height: 100%; height:auto;} #slide2 .contentbox::before {top:20px;}
#slide3 {min-height: 100%; height:auto;} #slide3 .contentbox::before {top:67px;}
#slide4 {min-height: 100%; height:auto;} #slide4 .contentbox::before {top:114px;}
#slide5 {min-height: 100%; height:auto;} #slide5 .contentbox::before {top:161px;}
#slide6 {min-height: 100%; height:auto;} #slide6 .contentbox::before {top:208px;}
#slide7 {min-height: 100%; height:auto;} #slide7 .contentbox::before {top:255px;}
#slide8 {min-height: 100%; height:auto;} #slide8 .contentbox::before {top:302px;}
#slide9 {min-height: 100%; height:auto;} #slide9 .contentbox::before {top:349px;}
#slide10 {height:auto; background:#ab273c; border-top:solid 5px #000;}

/* ========== CONTENTBOX ========== */

/* Eventbox */
.eventbox {position:absolute; top:50px; right:0px; background:rgba(0,0,0,0.5); width:250px; padding:20px; z-index:2000; border:solid 1px #333; border-radius:3px;}
.eventbox_title {font-size:14px; color:#FFF; font-weight:400;}
.eventbox_date {font-size:13px; color:#FFF; font-weight:400; display:inline-block; line-height:1; background:#C1002D; padding:2px 5px; margin-bottom:3px;}
.eventbox p {font-size:14px; color:#FFF; margin:5px 0px 0px 0px;}
.eventbox:hover p {color:#C1002D;}
@media (max-width: 1300px) {.eventbox {position:relative; left:inherit; top:inherit; bottom:inherit; right:inherit; float:right;}}

.logo {
	position: relative;
	width:500px;
	padding-left:55px;
	margin:0px auto 50px auto;
	text-align:center;
	line-height:0;
}
.logo img {text-align:center; width:100%; line-height:1;}

.contentbox_start {
	position: relative;
	margin-left:0px;
	height:auto;
	width:90%;
	box-sizing:border-box;
	float:right;
	text-align:right;
	padding-right:80px;
}


.contentbox {
	top:5px;
	position: relative;
	margin-left: 0;
	border-radius: 3px;
	height:auto;
	width:100%;
	background:rgba(242,242,242,0.8);
	box-sizing:border-box;
	padding:30px;
	border:solid 1px #000;
	float: center;
}
.contentbox a, .contentbox_start a {text-decoration:none; color:#A17ADB; font-weight:700;}
.contentbox a:hover, .contentbox_start a:hover {color:#6932BD;}
.contentbox_headline {color:#000; margin-bottom:15px;}

.contentbox::before {
  content: '';
  position: absolute;
  top: 20px;
  right: 100%;
  height: 0;
  width: 0;
  border: 15px solid transparent;
  border-color: transparent;
  border-right-color: white;
}

.contentbox_img {
	width:20%;
	float:left;
	margin-right:3%;
	position:relative;
	line-height:0;
}
.contentbox_img img {
	width:100%;
}
.profil_img {position:relative; margin-bottom:10px; width:100%;}
.imagetext {
	z-index:500;
	background:#333;
	position:relative;
	text-align:center;
	width:100%;
	color:#FFF;
	font-size:13px;
	line-height:1;
	padding:3px;
}

.contentbox_text {
	float:left;
	margin-top:-4px;
	width:77%;
}


.slide:nth-child(even) .contentbox {
    float: left;
}
.slide:nth-child(even) .contentbox::before {
	right: auto;
    left: 100%;
    border-color: transparent;
    border-left-color: white;
}


.cssanimations .contentbox.is-hidden {
	visibility: hidden;
}
.cssanimations .contentbox.bounce-in {
	visibility: visible;
	-webkit-animation: cd-bounce 0.6s;
	-moz-animation: cd-bounce 0.6s;
	animation: cd-bounce 0.6s;
}

/* START */
.start_container {
	position:relative;
	margin-top:0px;
}
.start_left {
	position:relative;
	left:0px; top:0px;
	width:50%;
	float:left;
}
.start_right {
	position:relative;
	left:0px; top:0px;
	width:50%;
	float:right;
}

/* NAVIGATION */
.navigation {
	position: absolute;
	top:7px; left:0;
	height:auto;
	width:80%;
	margin-left:-20px;
	box-sizing:border-box;
}
.nav_timeline {
	top:50px;
}

.navigation ul {list-style-type:none;}
.navigation ul li {margin-bottom:15px;}
.nav_timeline {
	position: absolute;
	top:98px; left:50%;
	height:auto;
	width:auto;
	margin-left:-20px;
	box-sizing:border-box;
}
.nav_timeline ul li {margin-bottom:7px;}
.nav_nr {
	position: relative;
	float:left;
	background: #FFF;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	margin-right:15px;
	transition:all 0.5s;
	-webkit-transition:all 0.5s;
	transform: scale(0.8);
	-webkit-transform: scale(0.8);
	text-align:center;
	line-height:40px;
	color:#000;
	font-size:24px;
	font-weight:700;
}
.nav_timeline .nav_nr, .nav_timeline .nav_img  {
	float:none;
}
.nav_img {
	position: relative;
	float:left;
	background: #FFF;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	margin-right:15px;
	transition:all 0.5s;
	-webkit-transition:all 0.5s;
	transform: scale(0.8);
	-webkit-transform: scale(0.8);
}
.nav_img_active {
	transform: scale(1.2);
	-webkit-transform: scale(1.2);
}
.nav_img img {
	display: block;
	width: 26px;
	height: 26px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -13px;
	margin-top: -13px;
}
.nav_text {
	color:#FFF;
	font-size:19px;
	padding-top:6px;
	line-height:1.4;
	font-weight:300;
	transition:all 0.5s;
	-webkit-transition:all 0.5s;
}
.navigation a:hover .nav_nr {
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
}
.navigation a:hover .nav_text {
	color:#CCC;
}

/* CONTACT */
.contact_holder h2 {
	border:none;
}
.contact_holder a {
	color:#FFF;
	font-weight:700;
}
.contact_left {
	width:200px;
	float:left;
	margin-right:40px;
}
.contact_left img {width:100%;}
.contact_right {
	float:left;
}
.contact_right a {
	font-weight:400;
}

/* COPYRIGHT */
.copyright {
	border-top:dotted 1px #CCC;
	padding-top:8px;
}
.copyright p {font-size:14px; color:#CCC;}


/* SCROLL ICON */
.scrollicon {
	position:absolute;
    text-align: center;
    text-decoration:none;
    width:50px;
    height:50px;
    opacity:1;
    top:50px;
    right:30px;
    display:none;
		z-index:3000;

}
.scrollicon:hover .icon {color:#000;}
.scrollicon .icon {
    line-height:1;
	color:#FFF;
    display:block;
    padding-top:8px;
    font-size:50px;
}

/* SOCIAL MEDIA */
.socialmedia_boxholder {z-index:3000; position:fixed; top:25%; margin-top:0px; left:-1px;}
/* .socialmedia_openbutton {position:absolute; left:-20px; width:20px; display:block; height:50px; top:50%; margin-top:-25px; margin-bottom:10px; text-align:right; background:#ae352f;} */
/* .socialmedia_openbutton img {width:auto; position:absolute; left:50%; top:50%; margin-top:-15px; margin-left:-5px;} */
ul.socialmedia_items {list-style-type:none;}
ul.socialmedia_items li {margin-top:5px; position:relative;}
ul.socialmedia_items li a {display:block; background:#c10524; width:33px; padding-left:3px; border:solid 1px #600212; line-height:0; position:relative; left:-3px; transition:all 0.3s;}
ul.socialmedia_items li img {width:28px;}
ul.socialmedia_items li a:hover {left:0px;}
@media (max-width: 1200px) {.socialmedia_boxholder {}}

/* ========== KEYFRAMES ========== */
@-webkit-keyframes cd-bounce {
  	0% {opacity: 0; -webkit-transform: translateX(-100px);}
	60% {opacity: 1; -webkit-transform: translateX(20px);}
	100% {-webkit-transform: translateX(0);}
}
@-moz-keyframes cd-bounce {
  	0% {opacity: 0; -moz-transform: translateX(-100px);}
	60% {opacity: 1; -moz-transform: translateX(20px);}
	100% {-moz-transform: translateX(0);}
}
@keyframes cd-bounce {
	0% {
	    opacity: 0;
	    -webkit-transform: translateX(-100px);
	    -moz-transform: translateX(-100px);
	    -ms-transform: translateX(-100px);
	    -o-transform: translateX(-100px);
	    transform: translateX(-100px);
  }

	60% {
	    opacity: 1;
	    -webkit-transform: translateX(20px);
	    -moz-transform: translateX(20px);
	    -ms-transform: translateX(20px);
	    -o-transform: translateX(20px);
	    transform: translateX(20px);
  }

	100% {
	    -webkit-transform: translateX(0);
	    -moz-transform: translateX(0);
	    -ms-transform: translateX(0);
	    -o-transform: translateX(0);
	    transform: translateX(0);
  }
}
@-webkit-keyframes cd-bounce-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes cd-bounce-inverse {
  0% {
    opacity: 0;
    -moz-transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -moz-transform: translateX(-20px);
  }

  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes cd-bounce-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
    transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    transform: translateX(-20px);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}


/* ========== RESOLUTIONS ========== */
@media (max-width: 1200px)
{
	#slide1 {height:auto; padding-top:0px; }
	#slide2 {height:auto;}
	#slide3 {height:auto;}
	#slide4 {height:auto;}
	#slide5 {height:auto;}
	#slide6 {height:auto;}
	#slide7 {height:auto;}
	#slide8 {height:auto;}
	#slide9 {height:auto;}
	.contentbox_start {width:100%;}
	.contentbox {
		top:0;
		width:90%;
		margin-left:10%;
		padding:30px;
	}

	.contentbox::before {
		content: '';
		position: absolute;
		top: 20px;
		height: 0;
		width: 0;
		border: 15px solid transparent;
		left: auto;
		right: 100%;
		border-color: transparent;
		border-right-color: white;
	}

	.line_bg {background:none;}


	.slide:nth-child(even) .contentbox {
		float: none;
	}
	.slide:nth-child(even) .contentbox::before {
		left: auto;
		right: 100%;
		border-color: transparent;
		border-right-color: white;
	}
	.nav_timeline {
		left:10px;
		margin-left:10px;
	}
	.dotted-line {left:8.5%; margin-left:0px;}
}

@media (max-width: 1024px)
{
	.logo {
		width:400px;
		padding-left:40px;
		margin:0px auto 50px auto;
	}
	.contentbox_start {
		width:85%;
		box-sizing:border-box;
		float:none;
		text-align:right;
		padding-right:0px;
	}
	p {font-size:16px;}
	h1 {font-size:26px;}
	h2 {font-size:26px;}

	.contact_left {
		width:150px;
		float:left;
		margin-right:30px;
	}

	.bgvid {display:none;}
	.main_picture1 img {display:block;}
}

@media (max-width: 768px) {

	h2 {font-size:22px;}

	.slide_inner {
		width:100%;
		left:0px;
		padding:30px;
	}

	.start_left {
		position:relative;
		left:0px; top:0px;
		width:100%;
	}
	.logo {
		position: relative;
		width:100%;
		padding:0px;
		margin:10px auto 30px auto;
		text-align:center;
		line-height:0;
	}

	.contentbox_start {
		position: relative;
		margin-left:0px;
		height:auto;
		width:100%;
		box-sizing:border-box;
		float:none;
		text-align:right;
		padding-right:0px;
	}
	.start_container .navigation {
		display:none;
	}

	.contentbox {
		top:12px;
		padding: 10px;
		height:auto;
		width:auto;
		background:rgba(0,0,0,0.8);
		box-sizing:border-box;
		padding:30px;
		border:solid 2px #FFF;
		float:none;
		margin-left:65px;
	}
	.contentbox_img {
		width:150px;
		float:none;
		margin-right:0;
		margin-bottom:25px;
	}

	.contentbox_text {
		float:none;
		margin-top:0;
		width:100%;
	}

	.nav_timeline {
		top:50px;
		margin-left:17px;
	}
	.dotted-line {left:42px; margin-left:0px; display:block;}

	.contact_left {
		width:120px;
		float:left;
		margin-right:30px;
	}

	.scrollicon {top:0px;}
}

@media (max-width: 480px) {

	.contact_left {
		width:70px;
		float:left;
		margin-right:20px;
	}
}

@media (max-width: 320px) {

	.contact_left {
		width:60px;
		float:left;
		margin-right:20px;
	}
}
